/* color variable  */
 * {
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
}


:root{
    --red :#f42625;
    --white : #ffffff;
    --black : #000000;
}

#main-logo{
    width: 165px;
}

.nav-link{
    text-decoration: none;
}

#navbar{
    gap: 30px;
}

#navbar{
    padding: 0px 10px;
}

#navbar-items{
    gap: 40px;
}

#frenchies{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 20px ;
    cursor: pointer;
}

#order-online{
    background-color:var(--red);
    border: 0px;
    padding: 15px 20px ;
    cursor: pointer;
}

.red{
    color: var(--red);
}

#head-one{
    text-align: center;
}

#head-two{
    text-align: center;
}

#children-images{
    gap: 30px;
}

#row-one{
    gap: 30px;
}

#row-two{
    gap: 30px;
}

#row-three{
    gap: 30px;
}
.country-loc{
    letter-spacing: 5px;
}

#first-loc{
    padding: 0px 10px;
}

/* islamabad design  */
#order-online-btn{
    /* background-color:var(--red); */
    border: 1px solid white;
    padding: 15px 20px ;
    cursor: pointer;
    background-color: transparent;
}
#btn-icon-btn{
    color: white;
}
#social-feed{
    gap: 25px;
}





#footer-padding{
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
}

#footer-logo{
    padding-left: 10px;
}


#footer-color{
    background-color: rgb(10, 10, 10);
}

#footer-para{
    text-align: left;
}

.container{
    margin-bottom: 20px;
}

/* about us page designing started  */

.introduction-para{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#text{
    text-align: left;
}

.bg-div-color{
    background-color: #ffffff0f;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    border-radius: 10px;
}

#div-gap-1{
    gap: 15px;
}

#div-two-2{
    padding-top: 15px;
    gap: 15px;

}

#pd-1{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* publication page design started */

.publication-content{
    border: 1px solid #ffffff52;
    border-width: 1px 1px 1px 1px;
    transition: background0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 32px 0px 40px;
    margin-bottom:  32px;
    transition-duration: .3s;
    transition-property: transform;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* feedback page design start  */


.feedback-head{
    padding-top: 50px;
}

.form-group{
    margin-bottom: 1rem;
    padding-left: 400px;
}

.form-control{
 height: 44px !important;
 border: 1px solid #ced4da !important;
}


.form-control{
    display: block; 
    width: 60%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.lable{
    margin: 0px 0px 16px;
}

#post-btn{
    padding-left: 400px;
}

#post-btn-color{
    background: #ED1C24;
    padding: 12px 23px 8px;
    border-radius: 20px;
}

#stars-section{
    gap: 40px;
}

#feedback-form{
    padding-top: 30px;
}

#get-frenchies{
    padding-top: 40px;
}

.welcome{
    padding-top: 30px;
}